@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>Xác nhận đổi mật khẩu.</h1>
</hgroup>
<div>
    <p>
        Mật khẩu đã được cập nhật. @Html.ActionLink("Bấm vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
